<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin - NodeTube</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300|Gentium+Basic:400,700,400italic,700italic|Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/common-admin.css">
</head>
<body data-ng-app="VideoAdminApp" data-ng-controller="MasterController">
	<header>
		<h2 class="section">
			<a href="/admin/">
				<span class="glyphicon glyphicon-flash"></span>
				Admin<span class="light-type">App</span>
			</a>
		</h2>
	</header>

	<div id="content-wrap">
		<div id="sidebar">
			<ul>
				<li><a href="#/media/all/0/10" ng-class="{active: currentPage == 'media'}"><span class="glyphicon glyphicon-play-circle"></span> <span>Media</span></a></li>
                <li data-ng-show="currentPage == 'media'">
                    <ul class="sub-list">
                        <li><a href="#/media/all/0/10" data-ng-class="{active: subPage == 'all'}"><span class="glyphicon glyphicon-film"></span> <span>All media</span></a></li>
                        <li><a href="#/media/conversion/0/10" data-ng-class="{active: subPage == 'conversion'}"><span class="glyphicon glyphicon-transfer"></span> <span>Conversions</span></a></li>
                    </ul>
                </li>
				<li><a href="#/users/0/10" ng-class="{active: currentPage == 'users'}"><span class="glyphicon glyphicon-user"></span> <span>Users</span></a> </li>
				<li><a href="#/settings/config" ng-class="{active: currentPage == 'settings'}"><span class="glyphicon glyphicon-cog"></span> <span>Settings</span></a> </li>
                <li data-ng-show="currentPage == 'settings'">
                    <ul class="sub-list">
                        <li><a href="#/settings/config" data-ng-class="{active: subPage == 'config'}"><span class="glyphicon glyphicon-tasks"></span> <span>Config</span></a></li>
                        <li><a href="#/settings/appconfig" data-ng-class="{active: subPage == 'appconfig'}"><span class="glyphicon glyphicon-list-alt"></span> <span>App Config</span></a></li>
                    </ul>
                </li>
			</ul>
		</div>
	
		<div id="content" data-ng-view=""></div>
	</div>

	<script src="/js/jquery.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-route.min.js"></script>
	<script src="/js/directives.js"></script>
	<script src="/js/admin-controllers.js"></script>
	<script src="/js/admin-app.js"></script>
</body>
</html>