<div class="media">
    <video controls ng-attr-poster="{{mediaCover || ''}}" data-video-timer update-fn="videoTimerUpdate">
        <source data-ng-src="{{mediaStreamUrlWebM}}" type="video/webm"/>
        <source data-ng-src="{{mediaStreamUrl}}" type="video/mp4"/>
		<source data-ng-src="{{mediaStreamUrlOgg}}" type="video/ogg"/>
	</video>

</div>

<div class="capture">
    <div class="timestamp">{{currentVideo.currentTime | number : 2}}</div>
    <a class="other-btn disabled" data-ng-class="{disabled: !currentVideo.isPaused}" href="javascript:void(0)">Grab screenshot</a>
</div>
