<form action="">
	<label for="videoFile" id="videoLabel">Choose a video</label>
	<input type="file" name="videoFile" ng-disabled="isUploadingFile" id="videoFile" data-file-model="chosenFile">
  <div ng-show="fileUpload.error" id='error'>{{fileUpload.message}}</div>

	<div class="details" data-ng-show="!!chosenFile">
		<div class="row"><span class="key">File</span><span class="value">{{chosenFile.name}}</span></div>
		<div class="row"><span class="key">Size</span><span class="value">{{(chosenFile.size / 1024) | number:0}} Kb(s)</span></div>
		<div class="row"><span class="key">Type</span><span class="value">{{chosenFile.type}}</span></div>
	</div>

	<br><br>
	<button class="button {{isUploadingFile && 'loading' || ''}}" data-ng-show="!!chosenFile" data-ng-click="!isUploadingFile && uploadFile()">
		<span data-ng-show="isUploadingFile">Uploading ..</span>
		<span data-ng-hide="isUploadingFile">Upload file</span>
		<span class="loader right" data-ng-show="isUploadingFile"></span>
	</button>
	<div class="clearBottom" data-ng-show="!!chosenFile"></div>
</form>

<div class="divider" data-ng-show="mediaList.length">
	<h2>Public videos</h2>
</div>
<div class="list">
	<div class="media-item" data-ng-repeat="media in mediaList">
		<a ng-href="#/convert/options/{{media.mediaId}}">
			<img ng-src="/media/cover/{{media.mediaId}}">
		</a>
	</div>
</div>